img {
    border-radius: 50%;
    background-color: white;   
}

header,img {
    background-color: rgb(193, 69,123);
    text-align: center;
    color: white;
}

ul {
    background-color: rgb(163, 88, 296);
}

h1 {
    text-align: center;
    color: white
    font- size: 10px
    margin: opx
}

li,
ul,
a {
    color: rgb(80, 226, 80)
}

p{
    background-color: pink;
    color:black
}
